body {
  margin: 5%;
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

nav {
  background-color: #305030; 
  padding: 1em;  
}

nav a {
  color: white;
  padding: 1em;
}

nav a:hover {
  background-color: #507050;
}

.box { padding: 2%; }

.current { background-color: #503030; }


